h1 {
	display: inline;
	text-align: center;
	border-style: double;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 25%
}

h2 {
	border-style: solid;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline;
	margin-left: 20px	
}

h3 {
	font-weight: bold;
	margin-left: 20px
	margin-bottom: 0px;
	padding-left: 20px;
}

p {
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	text-indent: 40px;
	text-align: justify;
	margin-right: 10px
}

#mainBox {
	padding-top: 10px;
	padding-bottom: 10px
}

#userReview {
	margin-top: 0px
}

#details {
	padding-top: 20px;
	margin-bottom: 40px
}

#main_pic {

	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 75%;
	width: 75%;
	border-style: solid;
	margin-top: 20px
}

#placeDetails {
	margin: 10px;
	margin-left: 20px;
}

#review {
	margin-right: 20px;
	margin-left: 20px;
	border-style: solid;
	border-width: 2px;
	padding-top: 10px;
}