<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  	<div id="topBar">
	  
	  {% if user is not none%}
	  	<p id="signInStatus">Signed in as: {{user}}</p>
		<form action="\signout"><input type="submit" value="Sign Out"></form>
	  {% else %}
		<form action="\signup"><input type="submit" value="Sign Up"></form>
		<form action="\login"><input type="submit" value="Login"></form>
		<p id="signInStatus">Not signed in.</p>
	  {% endif %}
	  <p id="locationStatus"></p>
	</div>

    <div id="map"></div>
	
    <script>
    	function initMap() {
		  locationStatusText = document.getElementById("locationStatus");
	      var map = new google.maps.Map(
	      	document.getElementById('map'), {zoom: 8, center: {lat: -37.9604037, lng:144.7027854}});
	      map.setOptions({styles: styles['hide']})
		
		// Attempt to get user location using HTML geolocation.
		  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function (position) {
					var pos = {
              			lat: position.coords.latitude,
              			lng: position.coords.longitude
            		};
				// Drop a marker on user's location.
				var marker = new google.maps.Marker({position: pos, map: map});
				var requestUrl = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + pos.lat + "," + pos.lng + "&result_type=street_address&key=AIzaSyD73D9Hbv3ln13MkAyLSpcw6xKI5KdQ95w";
				console.log(requestUrl);
				
				// Request information about the coordinates.
				var req = new XMLHttpRequest();
  				req.open('GET', requestUrl, false);
  				req.send(null);

				// Parse response as JSON.
				var myObj = JSON.parse(req.responseText);

				// Extract the first street address of the result.
				var address = myObj.results[0].formatted_address;

				locationStatusText.innerHTML = "Got location. " + address;
				});
			} else {
				locationStatusText.innerHTML = "Failed to get location.";
			}
		
	      {% for location in location_details %}
	      x_coord = {{location.x_coord}};
	      y_coord = {{location.y_coord}};
	      icon = "{{location.icon}}";
	      var image = {
	  		url: 'https://storage.googleapis.com/map-icons-cca02/icons/'+icon+'?authuser=2',
	  		scaledSize: new google.maps.Size(40,40),
	  		origin: new google.maps.Point(0,0),
	  		anchor: new google.maps.Point(0,32)
	  	  };
	      var marker = new google.maps.Marker({position: {lat: x_coord, lng: y_coord }, 
	      	map: map,
	      	icon: image
	      })
	      {% endfor %}
	  }
	  var styles = {
	  	default: null,
	  	hide: [
	  	{
	  		featureType: 'poi',
	  		stylers: [{visibility: 'off'}]
	  	}]
	  };
		
    </script>
	
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD73D9Hbv3ln13MkAyLSpcw6xKI5KdQ95w&callback=initMap"
    async defer></script>
  </body>
</html>
{% endautoescape %}
