<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Beer and Coffee Maps</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body>

  	<div id="topBar">
	  

    <div>
        <img id = "title-map" src = "https://storage.googleapis.com/map-icons-cca02/Images/bcmtitle.png?authuser=2" alt="Beer & Coffee Maps"/>
    </div>
	  {% if user is defined%}
        <span id="sign-in">
            <form class = "Sign-In-Button" action="\signout"><input id = "lang_button" type="submit" value="{{main_page.signout}}"></form>
            <form class = "Sign-In-Button" action="\addplace"><input id = "lang_button" type="submit" value = "{{main_page.addplace}}"></form>  
        </span><p id="signInStatus">{{main_page.yessignin}}: {{user}}</p>
        <p>{{lock}}</p>
	  {% else %}

        <span id="sign-in">
            <form action="\signup"><input id = "lang_button" type="submit" value="{{main_page.signup}}"></form>
    	    <form action="\login"><input id = "lang_button" type="submit" value="{{main_page.login}}"></form>
        </span>
        <span id="signInStatus">{{main_page.nosignin}}.</span>
	  {% endif %}

      <span id = "selection_box">
        <form action = "\show_locations" method='post'>
            <select id = "lang_button" name = "location">
            {% if "beer" in selection%}
            <option value = "beer" selected="selected">beer</option>
            {$ else %}
            <option value = "beer">beer</option>
            {% endif %}
            {% if "coffee" in selection%}
            <option value = "coffee" selected="selected">coffee</option>
            {% else %}
            <option value = "coffee">coffee</option>
            {% endif %}
            {% if "beercoffee" in selection%}
            <option value = "beercoffee" selected="selected">beer & coffee</option>
            {% else %}
            <option value = "beercoffee">beer & coffee</option>
            {% endif %}
            {% if "everything" in selection%}
            <option value = "everything" selected="selected">everything</option>
            {% else %}
            <option value = "everything">everything</option>
            {% endif %}
            {% if user is defined %}
                {% if "visited" in selection%}
                <option value = "visited" selected="selected">places visited</option>
                {% else %}
                <option value = "visited">places visited</option>
                {% endif %}
            {% endif %}

        </select>
        <input type="submit" id="lang_button" value = "Select">
        </form>

      </span>
      <span id="lang">
        <form action="\change_language" method='post'><select id="lang_button" name="language">
    	{% if "en" in main_page.lang_set%}
        	<option value = "en">English</option>
        	<option value = "de">German</option>
        	<option value = "fr">French</option>
        	<option value = "it">Italian</option>
    	{% elif "fr" in main_page.lang_set%}
        	<option value = "fr"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/france-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Française</option>
        	<option value = "en"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/bb92a9985e8defd0bbc75820ab7829c0.jpg" height = "3em" width = "auto"/>Anglais</option>
        	<option value = "de"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/germany-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Allemand</option>
        	<option value = "it"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/italy-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Italien</option>
    	{% elif "de" in main_page.lang_set%}
        	<option value = "de"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/germany-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Deutsch</option>
        	<option value = "fr"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/france-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Französisch</option>
        	<option value = "en"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/bb92a9985e8defd0bbc75820ab7829c0.jpg" height = "3em" width = "auto"/>Englisch</option>
        	<option value = "it"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/italy-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Italienisch</option>  
    	{%else%}
        	<option value = "it"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/italy-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Italiano</option>
        	<option value = "de"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/germany-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Tedesco</option>
        	<option value = "fr"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/france-flag-icon-free-download.jpg" height = "3em" width = "auto"/>Francese</option>
        	<option value = "en"><img src = "https://storage.cloud.google.com/map-icons-cca02/Images/bb92a9985e8defd0bbc75820ab7829c0.jpg" height = "3em" width = "auto"/>Inglese</option>
    	{% endif %}
        </select>
   	 	<input type="submit" id="lang_button" value ={{main_page.lang}}>
      </form>
      </span>
      <span id = "counter_box">Logins Today: <span id = "counter">{{loginCount}}</span></span>    
	  <p id="locationStatus"></p>
	</div>

    <div id="map"></div>

    <div id="topBar">
    	<a href="">Sources</a>
    	<a href="mailto: david.sarkies@internode.on.net">Contact Owner</a>

	<!-- source: https://stackoverflow.com/questions/21956500/use-jinja2-template-engine-in-external-javascript-file -->
    <script>{% include 'template.js' %}</script>
    <script src="js/script.js"></script>
	
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD73D9Hbv3ln13MkAyLSpcw6xKI5KdQ95w&callback=initMap"
    async defer></script>
  </body>
</html>
{% endautoescape %}
