<html>
    <head>
    <script type="text/javascript" src="js/reviewForm.js"></script>
    <a href="/">Return to Home</a>
    </head>
    <body>
        <div>
            <h1>Write Review</h1>
            <div>{{message}}</div>
            <div id="placeForm">
            <form method="POST" action = "/review" id="placeForm"</div>
                <label>Did you like this location?</label><br>
                <input hidden=true name="latitude" value="{{latitude}}">
                <input hidden=true name="longitude" value="{{longitude}}">
                <input type="radio" id="likedYes" name="liked" value="Yes">
                <label for="likedYes">Yes</label><br>
                <input type="radio" id="likedNo" name="liked" value="No">
                <label for="likedNo">No</label><br>
                <label>Your Review:</label><br>
                <textarea name="review" form="placeForm"></textarea><br>
                <input type="submit" value="Submit">
            </form>
            
        </div>
        <div>
            <h2>Reviews</h2>
            {% if reviews is defined and reviews|length > 0 %}
                <div>
                    {% for review in reviews %}
                        <div>
                        <p>Author: {{review[10]}} {{review[11]}}</p>
                        {%if review[3] == 1%}
                            <p>Liked: Yes</p>
                        {% else %}
                            <p>Liked: No</p>
                        {% endif %}
                        <p>Review: {{review[4]}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p> No reviews. </p>
                </div>
            {% endif %}
        </div
        
    </body>
</html>

